
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="blog-container" style="border-radius: 20px">
    <div class="blog-header">
        <div class="blog-cover" style="background-image:url({{img}});height: 400px;width: 100%;">
            <div class="blog-author" style="display: flex;padding-top: 10px;">
                <img src="{{imgUser}}"
                    style="height: 32px;width:32px; border-radius: 50px;margin-top: 10px; margin-right: 10px;">
                <h3 style="padding-top: 10px;">{{nameUser}}</h3>
            </div>
        </div>
    </div>

    <div class="blog-body" style="margin-top: 20px;">
        <div class="blog-title">
            <h1><a>{{title}}</a></h1>
        </div>
        <div class="blog-summary">
            <p>Address: {{address}}</p>
        </div>
    </div>
    
    <div class="blog-footer" style="padding-bottom: 20px;">
            <p class="published-date" style="display: flex;padding: 10px;width: min-content;height: min-content;color: black;border-color: transparent !important;"><i class="fa fa-map-marker" aria-hidden="true" style="font-size:24px;padding-right: 5px;color: rgb(239, 49, 49);"></i> {{city}}</p>
            <div style="display: flex;background-color: rgba(150, 249, 170, 0.604); border-radius: 20px;padding-right: 10px;">
        <button class="btn btn-primary" (click)="call()" style="background-color: rgb(79, 187, 79);border-color: rgb(79, 187, 79);font-weight: 500;border-radius: 10px;"><i class="fa fa-whatsapp" aria-hidden="true" style="font-size:24px"></i> {{mobile}}</button>
        <p style="font-family:sans-serif; padding-left: 10px; padding-top: 10px;color: rgb(71, 70, 70);">Settle your Deal with {{nameUser}} !</p>
    </div>
    </div>
</div>

<script type="text/javascript" src="//use.typekit.net/wtt0gtr.js"></script>
<script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>

