<div class="header">
  <!--start -->
  <!--Content before waves-->
  <!--Content ends-->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <i class="fa fa-home fa-2xl" style="color: white;"></i>
  <h1 class="mb-4 pb-3" style="color: #ffffff; text-shadow: 0px 0px 8px rgba(111, 106, 106, 0.45);">RentEasy</h1>
  
  <div class="card-3d-wrap mx-auto" style="margin-top: 1px;">

    <div class="center-wrap">
      <form class="section text-center" [formGroup]="loginForm">
        <h4 class="mb-4 pb-3"
          style="color: #75777c;padding-top: 10px; text-shadow: 0px 0px 8px rgba(111, 106, 106, 0.45);">Log In
        </h4>
        <div class="form-group">
          <input type="email" formControlName="email" class="form-style" placeholder="Your Email" autocomplete="off">
        </div>
        <div class="form-group mt-2">
          <input type="password" formControlName="password" class="form-style" placeholder="Your Password"
            autocomplete="off">
          <i class="input-icon uil uil-lock-alt"></i>
        </div>
        <button class="btn mt-4" (click)="login()">Sign in</button>
        <p class="mb-0 mt-4 text-center"><a routerLink="/signup" class="link">New
            User? Register Here</a></p>
      </form>

    </div>
  </div>
  <router-outlet></router-outlet>