:root {
  --surface-color: #fff;
  --curve: 40;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #fef8f8;
}

.cards {
  box-shadow: 0 8px 50px 0 rgba(16, 39, 112, .2);
  display: grid;
  /* grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 2rem; */
  border-radius: 50px;
  margin: 10px;
  height: 300px;
  width: 300px;
  padding: 0;
  margin-bottom: 30px;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  /* border-radius: 15px; */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  text-decoration: none;

}

.card1 {
  position: relative;
  display: block;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  text-decoration: none;

}

.card__overlay12 {
  box-shadow: 0px -4px 8px rgba(255, 0, 0, 0.75);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: 15px;
  background-color: white;
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}


.card__image {
  width: 100%;
  background-image: url('/assets/temp.png');
  height: 250px;
}

.card__overlay {
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.75);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: 15px;
  background-color: white;
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  box-shadow: 0px -7px 3px rgba(193, 192, 192, 0.18);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  padding: 25px;
  border-top-left-radius: 25px;
  background-color: white;
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}


.card__arc path {
  background-color: white;
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #6A515E;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: .8em;
  color: #D7BDCA;
}

.card__status {
  font-size: .8em;
  color: white;
}






.loader {

  /*control for size*/
  --width: 30px;
  --thickness: calc(var(--width) / 10);


  /*control for duration of 1 loop*/
  --duration: 1.5s;

  position: relative;

  width: var(--width);
  aspect-ratio: 1/1;

  border-radius: var(--width);

  background-color: #b3e0fb;


  -webkit-mask: radial-gradient(transparent calc(70% - var(--thickness)), black calc(70% - var(--thickness)));
  mask: radial-gradient(transparent calc(70% - var(--thickness)), black calc(70% - var(--thickness)));

}


.loader1 {

  /*control for size*/
  --width: 40px;
  height: 40px;
  --thickness: calc(var(--width) / 10);


  /*control for duration of 1 loop*/
  --duration: 1.5s;

  position: relative;

  width: var(--width);
  aspect-ratio: 1/1;

  border-radius: var(--width);

  background-color: #b3e0fb;


  -webkit-mask: radial-gradient(transparent calc(70% - var(--thickness)), black calc(70% - var(--thickness)));
  mask: radial-gradient(transparent calc(70% - var(--thickness)), black calc(70% - var(--thickness)));

}


.loader2 {

  /*control for size*/
  --width: 100px;
  height: 100px;
  --thickness: calc(var(--width) / 10);


  /*control for duration of 1 loop*/
  --duration: 1.5s;

  position: relative;

  width: var(--width);
  aspect-ratio: 1/1;

  border-radius: var(--width);

  background-color: #25b715;


  -webkit-mask: radial-gradient(transparent calc(70% - var(--thickness)), black calc(70% - var(--thickness)));
  mask: radial-gradient(transparent calc(70% - var(--thickness)), black calc(70% - var(--thickness)));

}

.p12 {
  display: flex;
  background-color: #EFEBE9;
  border-radius: 30px;
  margin-top: 20px;
  margin-right: 90px;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, .2);
 

}




.spinner {
  position: absolute;
  width: calc(var(--width) / 2);
  height: calc(var(--width) / 2);

  top: calc(var(--width) /4);
  left: calc(var(--width) / 2);

  background-color: #0099f0;

  transform-origin: 0% 50%;

  animation: spinner var(--duration) infinite ease-in-out;


}

#spinner::before,
#spinner::after {
  content: "";

  position: absolute;
  height: calc(var(--thickness) * 1.5);
  aspect-ratio: 1/1;

  top: calc(var(--thickness) * -0.51);
  left: calc(var(--width) *0.3);

  background-color: inherit;

  border-radius: var(--thickness);
}


#spinner::after {
  top: unset;
  bottom: calc(var(--thickness) * -0.51);
}


@keyframes spinner {

  68% {
    transform: rotatez(2.63turn)
  }

  96%,
  100% {
    transform: rotatez(2turn)
  }


}