<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content=
"width=device-width, initial-scale=1.0">
<div id="header-div"
    style="padding-bottom: 30px; padding-top: 30px;padding-left: 10px;display: flex;justify-content: space-between; ">

    <div style="display: flex;justify-content: space-between; border-radius: 30px;">
        <h2 id="gg" style="margin-left: 70px;margin-top: 20px; margin-right: 14px;padding-top: 10px; color: #616161;">
            Properties
            Near You
        </h2>
        <!-- Admin view -->
        <button type="button" class="btn btn-primary" *ngIf="validate" (click)="navigateToManage()"
            style="margin-top: 35px;font-size: 13px;background-color:#3d6cd2; border-radius: 20px; font-weight: 500;color: rgb(255, 255, 255);height: fit-content;width: fit-content;">Manage
            Properties
        </button>
        <!-- Normal User -->
        <button type="button" class="btn btn-primary" [hidden]="validate" (click)="navigateToAddProperty()"
            style="margin-top: 35px;font-size: 13px;background-color:#3d6cd2; border-radius: 20px; font-weight: 500;color: rgb(255, 255, 255);height: fit-content;width: fit-content;display: flex;">List
            your Property <i style="margin-left: 7px;margin-top: 4px;" class="fa fa-home"></i>
        </button>
        <a [hidden]="!validate"
            style="margin-top: 40px; margin-left: 10px;font-size: 13px; font-weight: 780;color: rgb(33, 228, 56);height: fit-content;width: fit-content;">
            Admin
        </a>
    </div>
    <div class="p12">
        <div [hidden]="!imageLoader" class="loader1">
            <div class="spinner">
            </div>
        </div>
        <img src="{{imgUrl}}" [hidden]="imageLoader" (load)="this.imageLoader = false;"
            style="border-radius: 60px; border-color: antiquewhite;margin-top: 5px;" alt="User Image" width="50"
            height="50">
        <p
            style="font-size: 20px;font-weight: 500; margin-right: 20px;margin-top: 10px;margin-left: 10px; color: #616161;">
            {{name}}</p>
        <a class="btn btn-danger" (click)="logout()"
            style="padding-top: 13px;box-shadow: 0px -4px 8px rgba(255, 0, 0, 0.18);" data-toggle="modal"><i
                class="fa fa-sign-out"></i></a>
    </div>
</div>
<!-- search bar
<div style="display: flex;">
<select name="city" id="city" style="margin-left: 80px;border-radius: 15px;padding-left: 10px;border-color: rgb(214, 214, 214);color: #616161;">
    <option value="all" selected>All</option>
    <option value="{{csr.City}}" *ngFor="let csr of readCities">{{csr.City}}</option>
</select>
<button class="btn btn-warning" style="margin-left: 10px; border-radius: 20px;color: white;font-weight: 500;" (click)="search()"> Search</button>
</div> -->

<div style="margin-bottom: 10px;background-image: url('https://static.vecteezy.com/system/resources/previews/007/535/400/original/blurred-and-soft-blue-gradient-background-free-vector.jpg'); width: 100%;" >
    <p style="margin-left:80px;color:white;font-weight: 500;padding: 10px;">Rent Easy is Avaiable in {{countCity}}+ Locations Now !</p>
</div>

<div id="title1" style="display: grid;margin-left: 30px; margin-right: 45px;grid-template-columns: repeat(4, 1fr);gap: 1px; width: 100%;">
    <ul class="cards-lists" *ngFor="let usr of readProps" style="display: flex; ">
        <a (click)="toInfo(usr._id,usr.title,usr.nameUser,usr.Address,usr.City,usr.mobile,usr.imgUser,usr.img,usr.price,usr.views)" class="card">
            <img src="{{usr.img}}" class="card__image" alt="" />
            <div class="card__overlay">
                <div class="card__header">
                    <div>
                        <h3 style="font-size: 18px; color: black;">{{usr.title}}</h3>
                        <h4 style="font-size: 10px; color: black;">{{usr.nameUser}}</h4>
                        <h4 style="font-size: 10px; color: black;">Views <i class="fa fa-eye" style="color: black;"></i> {{usr.views}}</h4>
                    </div>
                    <div [hidden]="!imageLoader" class="loader">
                        <div class="spinner">
                        </div>
                    </div>
                    <img class="card__thumb" [hidden]="imageLoader" (load)="this.imageLoader = false;"
                        src="{{usr.imgUser}}" style="background-color: #F5F5F5;" alt="" />
                </div>
                <p style="color: black;padding-left: 30px;padding-right: 30px;font-size: 12px;">
                    <i class="fa fa-home" style="color: black;"></i> {{usr.Address}}, {{usr.City}}
                </p>
                <button id="callButton" class="btn btn-primary"
                    style="box-shadow: none;color: white;border-radius: 15px;background-color: rgb(31, 206, 58);border-color: white; margin-left: 25px;margin-bottom: 15px;"><i
                        class="fa fa-phone" style="color: white;"></i> {{usr.mobile}}</button>
                <div class="call" id="call"></div>
            </div>
        </a>
    </ul>
</div>
<router-outlet></router-outlet>